*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#breadcrump-wrapper{
    background-image: url(../Image/t-shirt.webp);
    height: 300px;
    margin-bottom: 20px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.breadcrumb-overlay {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: 1;
}

.breadcrumb-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.breadcrumb-content h2{
    color: #fff;
}

.collections-container .collections-header {
    display: flex;
    justify-content: space-between;
}



