*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header .header-top{
    padding: 5px 20px;
    background-color: #f6f6f6;
}
.header-top-navbar{
    display: ;
}
.image{
    max-width: 100%;
    vertical-align: middle;
}
.header-top-navbar-right{
    width: 100%;
}
.header-top-navbar-right-list{
    margin: 12px 0;
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding-left: 30px;
    vertical-align: top;
    width: 100%;
}
.header-top-navbar-right-list .header-top-navbar-item{
    display: inline-block;
}
.header-top-navbar-link{
    display: block;
}